.card{
    display: flex;
    width: 520px;
    justify-content: space-between;
    margin-top: 40px;
    img{
        width: 100px;

    }
    div{
        height: 100px;
        width: 400px;
        h2{
            color: blueviolet;
        }
        p{
            margin-top: 10px;
        }
    }
}